html, body {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	min-height:100%;	
	font-size:12px;
	line-height:16px;
	font-family: arial, verdana, sans-serif;
	font-weight:bold;
	
}

#header{
	height:75px; 
	background-color:#38549C;
	color:#fff;
	font-size:40px;
	
	line-height:75px;
}

#wrapper{
	margin:0 auto;
}



table.data_table{
	width:100%;
	border
}


table.data_table  tr th{
	background-color:#09192A;
	color:#fff;
	text-align:center;
}
.data_table tr:hover td {
	background-color:#d5e1ed;
}

table.data_table tr th:first-child,
table.data_table tr td:first-child {
	border-left:0px dotted #9fa0a2;
}
table.data_table  tr td{
	background-color:#fff;
}

table.data_table  tr th,
table.data_table  tr td{
	border-left:1px dotted #9fa0a2;
	border-bottom:1px solid #cccccc;
	padding:5px;
	vertical-align:middle;
	boder
}	
table.data_table{
	border-collapse: collapse;
} 
table.data_table.center_data  tr td{
	text-align:center;
}
.wrap_table{
	border:2px solid #09192A;
}

div.ok{
	border:2px solid #330066;
	color:#330066;
	background:#ccc;
	padding:5px;
}

div.err{
	border:2px solid #663300;
	color:#663300;
	background:#ccc;
	padding:5px;
}
#menu a.selected{
	color:red;
}
#menu a{
	margin-right:5px;
}

a{
	color:#38549C;
}